body {
  font-family: "Quicksand", "sans-serif";
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFF5EE;
}

/*header/footer items */
#menupics {
    display: flex;
    flex-direction: row;
}

#footer {
    background-color: papayawhip;

}

#cat {
  width: 40%;
}

.title{
  padding: 5px;
}
/* end header/footer items */


/* form items */
#registerForm {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  display: none; 
}

fieldset {
  padding-left: 15px;
  padding-right: 8%;
  border: 2px solid #ddd;
}
/* end form items */


/* buttons */
input[type="text"] {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

input[type="submit"], .loginButton {
  font-family: "Quicksand", "sans-serif";
  background-color: #FAD5A5;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 30px; 
  border: none;
}

input[type="submit"]:hover {
  background-color: #FFF8DC;
}

.loginButton:hover {
  background-color: #FFF8DC;
}

.menuButton {
  font-family: "Quicksand", "sans-serif";
  font-size: 16px;
  background-color: #FAD5A5;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 30px; 
  border: none;
}

.menuButton:hover {
  background-color: #FFF8DC;
}
/* end buttons */

