/* main display */
body {
  font-family: "Quicksand", "sans-serif";

  background-color: #FFF5EE;
  height: 100%;
  display: flex;
  flex-direction: column;
}

content{
  margin-left: 10%;
  margin-right: 10%;
}



/*header/footer items */
#menupics {
    display: flex;
    flex-direction: row;
}

#footer {
    background-color: papayawhip;
    padding-left: 20px;
    width: 100%;  
    box-sizing: border-box;
    position: relative;
    margin-left: 0;
    margin-right: 0; 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

#aboutdiv {
  padding-right: 30px;
}

.footerCat{
  width:7%;
}

#catbox{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5%;
}

.title{
  padding: 5px;
}

#duck{
  width: 150px;
  height: 150px;
}
/* end header/footer items */



/* form items */
#registerForm {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  display: none; 
}

fieldset {
  padding-left: 15px;
  padding-right: 8%;
  border: 2px solid #FAD5A5;
}

input[type="text"] {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}
/* end form items */


/* buttons */
input[type="submit"] {
  font-family: "Quicksand", "sans-serif";
  background-color: #FAD5A5;
  padding: 8px 15px;
  margin-top: 10px;
  width: 100px;
  border-radius: 30px; 
  border: none;
}

.loginButton {
  font-family: "Quicksand", "sans-serif";
  background-color: #FAD5A5;
  padding: 8px 15px;
  margin-top: 10px;
  margin-left: 18px;
  width: 100px;
  border-radius: 30px; 
  border: none;
}

input[type="submit"]:hover {
  background-color: #FFF8DC;
}

.loginButton:hover {
  background-color: #FFF8DC;
}

.menuButton {
  font-family: "Quicksand", "sans-serif";
  font-size: 16px;
  background-color: #FAD5A5;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 30px; 
  border: none;
}

.menuButton:hover {
  background-color: #FFF8DC;
}
/* end buttons */


/* about images */
.aboutImgs{
  width: 25%;
  height: 25%;
  border-radius: 10%;
}

#shelfimg{
  width: 37%;
  height: 37%;
}
/* about images end */


/* tables */
.table {
  width: 100%;
  margin: 25px 0;
}

.table th {
  background-color: peachpuff;
  color: black;
  padding: 10px;
  text-align: left;
  opacity: 0.7;
}

.table tr {
  color: black;
  border-spacing: 5px;
  text-align: left;
}
/* end tables */


/* users formatting*/
ul {
  background-color: white;
  border-radius: 10px;
  width: 40%;
  opacity: 90%;
  padding: 5px;
}


/* cat animation */
#cat {
  width: 100%;
  position: relative;                    
}

.animate-headbutt {
  animation-name: headbutt;
  animation-duration: 4s; 
  animation-timing-function: ease-out;
}

@keyframes headbutt {
  0% {
    transform: translate(0); 
  }
	40% {
    transform: translateY(40px) translateX(50px) rotate(20deg);
	}
	60% {
    transform: translateY(10px) rotate(-15deg);
	}
	100% {
    transform: translate(0px);
	}
}


#ball {
  position: relative;
}

.animate-ball {
  animation-name: ball;
  animation-duration: 4s; 
  animation-timing-function: ease-out;
}

@keyframes ball {
  0% {
    transform: translate(0); 
  }
  50% {
    transform: translate(0); 
  }
  100% {
    transform: translateX(2000px) translateY(0);
  }
}


